# pure-ftpd binary startup for DirectAdmin servers
# To reload systemd daemon after changes to this file:
# systemctl --system daemon-reload

[Unit]
Description=Pure-FTPd FTP server
After=syslog.target network.target

[Service]
Type=forking
PIDFile=@PID_FILE@
ExecStart=@PURE_FTPD@ @CONF_FILE@

[Install]
WantedBy=multi-user.target